{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

<h2>About Us</h2>

    <p>
        Intellify is an object detection system that can identify and  classify abnormalities in medical images such as X-rays  and MRIs, and provide real-time recommendations for  diagnosis and treatment.
    </p>

    <h3><i class="fa fa-user-tie"></i> Meet the Team </h3>

    <div class="content">
        <div class="alumnus">
            <b>
                    <p class="name">
                        <img src="{{ url_for('static', filename='team/dominic.jpg') }}" class="rounded-circle" width="300" height="236">
                    </p>

            </b>
            <p class="name"> Fitsum Getachew </p>
            <p><i class="fas fa-user-tie"></i> Computer Engineer</p>
            <p><i class="fas fa-school"></i> Marwadi university</p>
            <p><i class="fas fa-book-reader"> Bachelor of Technology Computer Engineering</i> </p>
            <p><i class="fas fa-user-graduate"></i> 2025</p>
            <p><a href="https://github.com/"><i class="fa fa-code"></i> GitHub</a></p>
            <p><a href=""><i class="fa fa-book"></i> LinkedIn</a></p>
        </div>
        <div class="alumnus">
            <b>
                    <p class="name">
                        <img src="{{ url_for('static', filename='team/mulubrhan.jpg') }}" class="rounded-circle" width="300" height="236">
                    </p>

            </b>
            <p class="name"> Mulubrhan Birhanu </p>
            <p><i class="fas fa-user-tie"></i> Computer Engineer</p>
            <p><i class="fas fa-school"></i> Marwadi University</p>
            <p><i class="fas fa-book-reader"> Bachelor of Technology Computer Engineering</i> </p>
            <p><i class="fas fa-user-graduate"></i> 2025</p>
            <p><a href="https://github.com/Ethiopian-boy"><i class="fa fa-code"></i> GitHub</a></p>
            <p><a href="https://www.linkedin.com/in/mulubrhan-birhanu-94a19923b/"><i class="fa fa-book"></i> LinkedIn</a></p>
        </div>
  </div>

    <h3><i class="fa fa-anchor"></i> Our Purpose</h3>

    <p>
        Intellify strives to be the best analyses medical images to offer the best recommendations.

    </p>
    
    <h3><i class="fa fa-envelope"></i> Contact Us</h3>

    <ul style="text-align: left">
        <li><i class="fa fa-handshake"></i> Profile Queries: <a href="mailto:profiles@intellify.com"> profiles@intellify.com </a> </li>
        <li><i class="fa fa-scroll"></i> General Queries: <a href="mailto:info@intellify.com"> info@intellifyy.com </a></li>
        <li><i class="fa fa-bug"></i> Bug/Error Report: <a href="mailto:support@intellifyy.com"> support@intellify.com </a></li>
        <li><i class="fa fa-ad"></i> Advertising Queries: <a href="mailto:ads@intellify.com"> ads@intellify.com </a></li>
            <ul>
                <li>We do not offer advertising yet</li>
                <li>Email enquiries can still be sent for partnership talks and contracts</li>
            </ul>
    </ul>

    <h3> <i class="fas fa-user-graduate"></i> Registering as an User Disclaimer</h3>
        
    <p>Users are encouraged to signup with a "work" telephone/mobile number and email. By work we mean a mobile number or email that can
         be posted publicly and can be contacted by any patience that ones has connected with. 
    </p>
        
        <p><i class="fas fa-graduation-cap"></i> Information required:</p>
           <ul>
                <li>Fullname (eg. Mulubrhan Legesse, etc)</li>
                <li>Mobile Number/Phone Number</li>
                <li>Email Address</li>
                <li>Password (Should be more than 3 characters)</li>
           </ul>
           
{% endblock%}
