{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% if user%}
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
  {%endif%}
</ul>

<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
<br />

<div style="padding:20px;">
<h2>Upload multiple images to analyse</h2>
<form method="post" action="/upload" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="files[]" multiple="true" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
 
{% if filenames %}
    {% for filename in filenames %}
        <div style="padding:20px;float:left;">
            <img width="200" src="{{ url_for('views.display_image', filename=filename) }}">
            <button type="button" class="close" onClick="deleteImage({{ filename }})>
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
</div>

{% endblock %}