<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Photogenic Diseases</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Photogenic Diseases</h1>
            <p>List of Diseases:</p>
            <ul>
                <li><a href="{{ url_for('views.leukemia')}}"> Leukemia </a></li>
                <li> <a href="{{ url_for('views.breastCancer')}}"> Breast Cancer </a> </li>
                <li> <a href="{{ url_for('views.oralCancer')}}"> Oral Cancer </a> </li>
            </ul>
        </div>
    </div>
</body>
</html>
