{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content%}
 
<form method="POST" enctype="multipart/form-data" autocomplete="off">
    <h3 align="center">Signup</h3>

    <div class="form-group">
         <label for="email"><i class="fas fa-envelope"></i> Email Address</label>
         <input 
               type="email" 
               id="email" 
               class="form-control" 
               name="email" 
               placeholder="Enter email address" 
          />
    </div>
    <div class="form-group">
         <label for="firstName"><i class="fas fa-user"></i> First name</label>
         <input 
               type="text" 
               id="firstName" 
               class="form-control" 
               name="firstName" 
               placeholder="Enter first name" 
          />
    </div>

    <div class="form-group">
         <label for="lastName"><i class="fas fa-user"></i> Last name</label>
         <input 
               type="text" 
               id="lastName" 
               class="form-control" 
               name="lastName" 
               placeholder="Enter last name" 
          />
    </div>

    <div class="form-group">
         <label for="address"><i class="fas fa-user"></i> address</label>
         <input 
               type="text" 
               id="address" 
               class="form-control" 
               name="address" 
               placeholder="provide address" 
          />
    </div>

    <div class="form-group">
         <label for="dateOfBirth"><i class="fas fa-user"></i> Date of birth</label>
         <input 
               type="date"
               id="dob" 
               class="form-control" 
               name="dob" 
               placeholder="Enter birth date" 
          />
    </div>
     <div class="form-group">
        <label for="password1"><i class="fas fa-lock"></i> Password</label>
        <input 
               type="password" 
               id="password1" 
               class="form-control" 
               name="password1"
               placeholder="Enter your password" 
          />
   </div>
   <div class="form-group">
        <label for="password2"><i class="fas fa-lock"></i> Confirm Password</label>
        <input 
               type="password" 
               id="password2" 
               class="form-control" 
               name="password2"
               placeholder="Confirm password" 
          />
   </div>

   <br/>

   <button type="submit" class="btn btn-primary">SIGNUP</button>

   <br/>
   <br>
</form>

{% endblock%}