{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block content %}
<html>
<head>
<title>Upload multiple images and display</title>
</head>
<body>
<div style="padding:20px;">
<h2>Upload multiple images</h2>
<form method="post" action="/upload" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="files[]" multiple="true" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
 
{% if filenames %}
    {% for filename in filenames %}
        <div style="padding:20px;float:left;">
            <img width="500" src="{{ url_for('display_image', filename=filename) }}"> 
        </div>
    {% endfor %}
{% endif %}
</div>
</body>
</html>

{% endblock%}